.bg{
    background: url(../assets/hero-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 72%;
    // height: 70rem;
    @include responsive(900px){
        background-position: left;
    }
}

header{
    width: 100%;
    height: 7.2rem;
    position: fixed;
    z-index: 1000;
    background-color: transparent;
    transition: all .5s ease;

    .container{
        @include flex(row, center, space-between);
        gap: 20rem;
        height: inherit;
    }

    .logo{
        min-width: 12rem;
        height: 2.4rem;
        background: url(../assets/logo-white.svg)
    }

    .nav{
        @include flex(row, center, space-between);
        // gap: 36.1rem;
        width: 100%;
        max-width: 89.6rem;

        ul{
            @include flex(row, center, space-between);
            gap: 4.6rem;
            
            li{
                a{
                    @include flex(row, center, center);
                    gap: 1.2rem;
                    @include typography(rgba(255, 255, 255, 0.7), 1.6rem, 500, 1.9rem);
                }
            }
        }
        .btn{
            @include btn($yellow-brand, $yellow-brand, 5rem);

            a{
                @include btn-anchor($black-brand, 4rem, 1.5rem, 500);
            }

            &:hover{
                background-color: transparent;
                a{
                    color: $gray-brand;
                }
            }
        }
    }

    @include responsive(950px){
        height: 8.8rem;
        
        .container{
            gap: 0;
        }
        .nav{
            justify-content: flex-end;

            ul{
                display: none;
            }
            .btn{
                width: 17.1rem;
                padding: 0 1.4rem;
            }
        }
    }
}

.active_header{
    background-color: $white;
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.1);
    
    .logo{
        background: url(../assets/logo-black.svg)
    }

    .nav{
        a{
            color: $gray-brand;
        }
    }
}