.bg{
    background: url(../assets/hero-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70rem;
}

header{
    width: 100%;
    height: 7.2rem;

    .container{
        @include flex(row, center, space-between);
        height: inherit;
        border: 1px solid red;
    }

    .logo{
        border: 1px solid red
    }

    .nav{
        @include flex(row, center, space-between);
        gap: 36.1rem;
        border: 1px solid red;

        ul{
            @include flex(row, center, space-between);
            gap: 4.6rem;
            
            li{
                a{
                    @include flex(row, center, center);
                    gap: 1.2rem;
                    @include typography(rgba(255, 255, 255, 0.7), 1.6rem, 500, 1.9rem);
                }
            }
        }
        .btn{
            @include btn($yellow-brand, $yellow-brand, 5rem);

            a{
                @include btn-anchor($black-brand, 4rem, 1.5rem, 500);
            }
        }
    }
}