.bg{
    background: url(../assets/hero-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    // height: 70rem;
}

header{
    width: 100%;
    height: 7.2rem;
    position: fixed;
    background-color: transparent;

    .container{
        @include flex(row, center, space-between);
        gap: 20rem;
        height: inherit;
    }

    .logo{
        // width: 100%;
        min-width: 12rem;
    }

    .nav{
        @include flex(row, center, space-between);
        // gap: 36.1rem;
        width: 100%;
        max-width: 89.6rem;

        ul{
            @include flex(row, center, space-between);
            gap: 4.6rem;
            
            li{
                a{
                    @include flex(row, center, center);
                    gap: 1.2rem;
                    @include typography(rgba(255, 255, 255, 0.7), 1.6rem, 500, 1.9rem);
                }
            }
        }
        .btn{
            @include btn($yellow-brand, $yellow-brand, 5rem);

            a{
                @include btn-anchor($black-brand, 4rem, 1.5rem, 500);
            }
        }
    }

    @include responsive(950px){
        height: 8.8rem;
        border: 1px solid red;
        .container{
            gap: 0;
        }
        .nav{
            justify-content: flex-end;

            ul{
                display: none;
            }
            .btn{
                width: 17.1rem;
                padding: 0 1.4rem;
            }
        }
    }
}