.s_hero{
    width: 100%;
    max-width: 69.6rem;
    padding: 7.2rem 0 16.2rem 0;

    p{
        @include typography(rgba(255, 255, 255, 0.7), 1.5rem, 500, 150%);
        margin: 11.3rem 0 3.4rem 0;

        span{
            font-size: 1.3rem;
            color: $white;
            font-weight: 500;
            padding: 0.6rem 1.1rem;
            background-color: #006D8F;
            border-radius: 12rem;
            margin-right: 2.2rem;
        }
    }

    h4{
        font-family: 'Inter', sans-serif;
        margin: 2.4rem 0 4rem 0;
        width: 100%;
        max-width: 36.5rem;
    }

    .btn{
        @include btn($white, transparent, 4rem);
        
        a{
            @include btn-anchor($white, 4.8rem, 1.5rem, 500);
        }

        &:hover{
            background-color: $yellow-brand;
            border-color: $yellow-brand;
            a{
                color: $black-brand;
            }
        }
    }

    @include responsive(900px){
        max-width: 65rem;
        margin: auto;
        @include flex(column, center, center);
        text-align: center;

        h4{
            max-width: 60rem;
        }
    }

    @include responsive(600px){
        padding: 16rem 0 10rem 0;
        
        p{
            margin: 0 0 1.2rem 0;
        }

        span{
            display: none;
        }

        h4{
            max-width: 40rem;
            margin-top: 1.6rem;
        }
    }
}

// CARDS SECTION
.s_cards{
    @include flex(row, start, space-between);
    gap: 12rem;
    padding: 9.6rem 0 6.9rem;
    position: relative;
    width: 100%;

    .cards_txt{
        width: 100%;
        max-width: 62.5rem;

        @include responsive(1040px){
            max-width: 100%;
        }

        @include responsive(760px){
            .s_titles{
                text-align: center;
            }
        }
    }

    @include responsive(760px){
        padding: 8rem 0 0;
    }
}

.s_info{
    margin-top: 10rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-between;
    
    .info_benefits{
        width: 100%;
        max-width: 25.9rem;
        margin-bottom: 13.7rem;

        h4{
            color: $black-brand;
            margin: 1.6rem 0 0.8rem;
            width: 100%;
            max-width: 22.7rem;
        }

        p{
            color: $gray-brand;
            line-height: 150%;
        }

        .info_icon{
            padding-bottom: 1.1rem;
            position: relative;

            &::after{
                content: '';
                width: 1.5rem;
                height: 2px;
                background-color: $yellow-brand;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }

        @include responsive(1040px){
            max-width: 32rem;
            margin-bottom: 10rem;
        }

        @include responsive(760px){
            h4{
                margin: auto;
                margin-top: 1.6rem;
            }

            .info_icon{
                &::after{
                    left: 15rem;
                }
            }
        }
    }

    @include responsive(760px){
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 6.4rem;
        .info_benefits{
            margin-bottom: 6.4rem;
            :not(:last-child){
                margin-bottom: 0;
            }
        }
    }
}

.cards_img{
    position: absolute;
    right: 0;
    top: -7.4rem;

    .cards{
        width: 100%;
        max-width: 46rem;
    }
    
    @include responsive(1150px){
        max-width: 35rem;
        top: 11rem;
    }

    @include responsive(1040px){
        display: none;
    }
}

// COMPLETO SECTION
.s_completo{
    position: relative;
    padding-top: 14.5rem;
    margin-bottom: 2rem;
    .gray_bg{
        background-color: #FAFAFA;
        width: 100vw;
        height: 85rem;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 20.3rem;
    }
    
    @include responsive(400px){
        padding-top: 6.4rem;
    }
}

.s_completo_top{
    @include flex(row, center, space-between);
    margin-bottom: 8.7rem;
    .s_titles{
        width: 100%;
        max-width: 45.6rem;
        margin-right: 2.4rem;
    }
    .toggle{
        border: 1px solid rgba(196, 196, 196, 0.6);
        border-radius: 12rem;
        width: 100%;
        max-width: 59.2rem;
        height: 7.2rem;
        display: flex;
        cursor: pointer;
        // gap: 14.6rem;
        position: relative;
        &::before{
            content: '';
            background-color: $black-brand;
            border-radius: 12rem;
            width: 45%;
            height: 5.6rem;
            position: absolute;
            z-index: -1;
            top: 0.8rem;
            left: 1.1rem;
        }
        
        a{
            @include typography($gray-brand, 1.6rem, 500, 2rem);
            @include flex(row, center, center);
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
            letter-spacing: 0.02em;
            flex-wrap: wrap;
            width: 50%;
        }
    }

    @include responsive(1050px){
        .toggle{
            a{
                font-size: 1.4rem;
            }
        }
    }

    @include responsive(900px){
        flex-direction: column;
        .s_titles{
            text-align: center;
            margin-bottom: 4rem;
        }
    }

    @include responsive(400px){
        .s_titles{
            p{
                font-size: 2.4rem;  
            }
        }
        .toggle{
            margin-bottom: 4.8rem;
        }
    }
}

.s_completo_bottom{
    background: rgb(0,0,0);
    background: linear-gradient(75deg, rgba(0,0,0,1) 0%, rgba(36,36,36,1) 120%);
    @include flex(row, none, space-between);
    height: 42.4rem;
    width: 100%;
    border-radius: 1.5rem;

    @include responsive(1010px){
        flex-direction: column;
        align-items: center;
        justify-content: start;
        height: 63.2rem;
    }
}

.s_completo_bottom_txt{
    margin: 9.7rem 0 10.6rem 10.3rem;
    h3{
        color: $white;
        letter-spacing: -0.03em;
        margin-bottom: 1.6rem;
        width: 100%;
        max-width: 21rem;
    }
    p{
        color: rgba(255, 255, 255, 0.7);
        line-height: 150%;
        width: 100%;
        max-width: 34.1rem;
        margin-bottom: 4.4rem;
    }
    .aproxime{
        @include flex(row, center, none);
        gap: 1.6rem;

        span{
            @include typography(#fafafa, 1.4rem, 500, 150%)
        }
    }

    @include responsive(1010px){
        margin: 6.4rem auto 0;
        padding: 0 1.6rem;
        text-align: center;
        width: 100%;
        max-width: 50rem;

        h3{
            margin: auto;
        }
        p{
            margin: 2rem auto 4rem;
        }

        .aproxime{
            justify-content: center;
        }
    }
}

.s_completo_bottom_img{
    position: relative;
    width: 100%;
    max-width: 51.9rem;
    .black-card{
        position: absolute;
        top: -8rem;
        right: 19.7rem;
        z-index: 1;
    }
    .iphone{
        position: absolute;
        bottom: 0;
        left: -10.4rem;
    }
    .img-logo{
        position: absolute;
        right: 7.2rem;
        bottom: 5.3rem;
    }

    @include responsive(1010px){
        max-width: 36.8rem;
        .black-card{
            top: -2rem;
            left: -6.3rem;
        }
        .iphone{
            top: 8.7rem;
            left: 0;
        }
        .img-logo{
            display: none;
        }
    }

    @include responsive(500px){
        max-width: 26rem;
        .black-card{
            top: 3rem;
            left: -3.3rem;
        }
        .iphone{
            top: 13.8rem;
            left: 0;
        }
    }
}