@mixin btn($border-color, $bg, $pad){
    border-width: 1px;
    border-style: solid;
    border-color: $border-color;
    background-color: $bg;
    padding: 0 $pad;
    border-radius: 100px;
    transition: all .3s ease-in;
}

@mixin btn-anchor($color, $height, $font, $weight){
    color: $color;
    line-height: $height;
    font-size: $font;
    font-weight: $weight;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    letter-spacing: 0.02em;
} 

@mixin flex($direction, $align, $justify){
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

@mixin typography($color, $size, $weight, $height){
    color: $color;
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
}

@mixin responsive($max-width){
@media (max-width: $max-width) {
        @content;
    }
}